#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html{
  scroll-snap-type: y mandatory;
  
}

.sidebyside{
  display: flex;
  flex-direction: row;
}

.sideDiv{
  width: 50%;
  margin:10px;
}

.headShot{
  width: auto;
  height:200px;
  border-radius:50%;
  border: 1px solid #0099FF;
}

#infoMe{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#abtMeP{
  width: 50%;
  text-align: left;
}

#socialMedias{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#resumeA{
  width: 100%;
}

#Resume{
  border: 1px solid #66FF00;
  border-radius: 50px;
  width: 100%;
  background-color: #008000;
}

#projectBar{
  display: Flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:10px
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


@media screen and (max-width:430px){
  .sidebyside{
    flex-direction: column;
  }
  .webSiteSection{
    height: 100vh;
    width: auto;
  }
  
}
