#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sidebyside{
  display: flex;
  flex-direction: row;
}

.sideDiv{
  width: 50%;
  margin:10px;
}

.headShot{
  width: auto;
  height:200px;
  border-radius:5px;
}

#infoMe{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#abtMeP{
  width: 50%;
}

#projectBar{
  display: Flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:10px
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

