.project{
    display: flex;
    flex-direction: column;
    
    margin: 0px 10px 0px 10px;
    padding: 0px 15px 0px 15px;
    border: 1px solid black;
    border-radius: 10px;
    height: 275px;
    width: 300px;
}

.tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    gap: 5px;
}

.tag{
    border: 1px solid #66FF00;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 2px 7px 2px 7px;

    color: #ffffff;
    background-color: #008000;

    cursor: default;
}

div.visit{
    background-color: #4c00b0;
    border: 1px solid #ca5cdd;
    border-radius: 20px;
    padding: 2px;
    margin-bottom: 10px;
    margin-top: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

div.visit p{
    margin: 0px 10px 0px 5px;
}

a.visit{
    margin-top: auto;
}

