.sTags{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.skillTag{
    font-size: 17px;
    border-color: #1A3D00;
}

.skillTag:hover{
    border-color: #66FF00;
}

.skillHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.skillHeader h4 {
    margin-left: 10px;
    font-size: large;
}

.SkillsCard{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    text-align: left;

    border: 1px solid #003344;
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    width: 90%;
}

.SkillsCard:hover{
    border-color: #0099FF;
}

.skillIcon{
    padding: 10px;
    border: 1px solid #66FF00;
    background-color: #1A3D00;
    border-radius: 30%;
}

@media screen and (max-width:430px) {
    .sTags{
        flex-wrap: wrap;
    }
}