.webSiteSection{
    display: flex;
    flex-direction: column;
    height:auto;
    min-height:100svh;
    scroll-snap-align: start;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    width: 100vw;
    width: 100svw;
}

.webSectionHeader{
    font-size:xx-large;
}

