.webSiteSection{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    height:100vh;
    scroll-snap-align: start;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

